# General Configuration
HOSTNAME=ngum-01
SERVER_NAME=www.ngum-01.local
CLOUD_SERVER_NAME=line-menu.ngum-platform.com

# Service Configuration
SERVICE_REDIS_VERSION=6.2
SERVICE_AUTHENTICATOR_VERSION=v4.52.0 # TODO: armhf=v4.52.0, x86_64=v4.51.19
SERVICE_FUNCTIONS_VERSION=v4.93.1
SERVICE_MONGOSTREAM_VERSION=v4.66.1
SERVICE_TRIGGERS_VERSION=v4.3.0
SERVICE_BACKOFFICE_VERSION=v4.107.0
SERVICE_BACKOFFICE2_API_VERSION=v1.11.0
SERVICE_BACKOFFICE2_WEB_VERSION=v1.21.0
SERVICE_EDC_API_VERSION=v5.4.1
SERVICE_EDC_WEB_VERSION=v5.0.27
SERVICE_LINE_MENU_BOT_VERSION=v1.5.0
SERVICE_MESSAGE_GATEWAY_VERSION=v1.1.0
SERVICE_LINE_MENU_API_VERSION=v1.49.1
SERVICE_LINE_MENU_WEB_VERSION=v1.38.0
SERVICE_LINE_MENU_WEB_LITE_VERSION=v1.4.0
SERVICE_LINE_DELIVERY_WEB_VERSION=v1.1.0

# Secrets
## General
JWT_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
## MongoDB
MONGO_AUTH_DB=admin
MONGO_DB=bzr_v5
MONGO_REPLICA_SET=ngum-rs
MONGO_USERNAME=root
MONGO_PASSWORD=
## Redis
REDIS_PASSWORD=

# Network Ports
## Global
MONGO_PORT=27017
REDIS_PORT=6379
## Core Services
SERVICE_AUTHENTICATOR_PORT=30001
SERVICE_FUNCTIONS_PORT=30002
SERVICE_MONGOSTREAM_PORT=30003
SERVICE_BACKOFFICE_PORT=30004
SERVICE_BACKOFFICE2_API_PORT=30005
SERVICE_BACKOFFICE2_WEB_PORT=30006
SERVICE_EDC_API_PORT=30007
SERVICE_EDC_WEB_PORT=30008 # Deprecated, will be removed in future versions
SERVICE_LINE_MENU_BOT_PORT=30009
## Cloud Services
SERVICE_MESSAGE_GATEWAY_PORT=30010
SERVICE_LINE_MENU_API_PORT=30011
SERVICE_LINE_MENU_WEB_PORT=30012
SERVICE_LINE_MENU_WEB_LITE_PORT=30013
SERVICE_LINE_DELIVERY_WEB_PORT=30014
SERVICE_RESERVATION_API_PORT=30015 # TODO: add to compose and nginx
SERVICE_RESERVATION_WEB_BACKOFFICE_PORT=30016 # TODO: add to compose and nginx
SERVICE_RESERVATION_WEB_FORM_PORT=30017 # TODO: add to compose and nginx
