# General Configuration
HOSTNAME=ngum-01
SERVER_NAME=www.ngum-01.local
CLOUD_SERVER_NAME=line-menu.ngum-platform.com

# Secrets
JWT_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# MongoDB
MONGO_AUTH_DB=
MONGO_DB=
MONGO_PASSWORD=
MONGO_PORT=27017
MONGO_REPLICA_SET=
MONGO_USERNAME=

## Redis
REDIS_PASSWORD=
REDIS_PORT=6379

# Network Ports
## Core Services
SERVICE_FUNCTIONS_PORT=30001
SERVICE_MONGOSTREAM_PORT=30002
SERVICE_AUTHENTICATOR_PORT=30003
SERVICE_BACKOFFICE_PORT=30004
SERVICE_EDC_API_PORT=30005
SERVICE_EDC_UI_PORT=30006 # Deprecated, will be removed in future versions
SERVICE_LINE_MENU_DELIVERY_PORT=30009 # Deprecated, will be removed in future versions
SERVICE_BACKOFFICE2_API_PORT=30010
SERVICE_BACKOFFICE2_UI_PORT=30011
SERVICE_LINE_MENU_BOT_PORT=30016
## Cloud Services
SERVICE_LINE_MENU_API_PORT=30007
SERVICE_LINE_MENU_WEB_PORT=30008
SERVICE_RESERVATION_API_PORT=30012
SERVICE_RESERVATION_UI_BACKOFFICE_PORT=30013
SERVICE_RESERVATION_UI_FORM_PORT=30014
SERVICE_MESSAGE_GATEWAY_PORT=30015
SERVICE_LINE_MENU_WEB_LITE_PORT=30017
SERVICE_LINE_DELIVERY_WEB_PORT=30018
